<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>用户管理(用户展示和添加)</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>用户管理</h1>
    <hr/>

    <h3>所有用户 <a th:href="@{/addUserPage}" type="button" class="btn btn-primary btn-sm">添加</a></h3>

    <!-- 如果用户列表为空 -->

    <div class="alert alert-warning" role="alert" th:if="${#strings.isEmpty(users)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>User表为空，请<a th:href="@{/addUserPage}" type="button" class="btn btn-primary btn-sm">添加</a>
    </div>


    <!-- 如果用户列表非空 -->
        <table class="table table-bordered table-striped" th:if="${not #strings.isEmpty(users)}">
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>密码</th>
                <th>操作</th>
            </tr>


                <tr th:each="user,userStat:${users}">
                    <td th:text="${user.getUid()}"></td>
                    <td th:text="${user.username}">${user.id}</td>
                    <td th:text="${user.password}">${user.nickname}</td>
                    <td>
                        <a th:href="@{/findUserByUid/(id=${user.getUid()})}" type="button" class="btn btn-sm btn-success">详情</a>
                        <a th:href="@{/updateUserPage/(id=${user.getUid()})}" type="button" class="btn btn-sm btn-warning">修改</a>
                        <a th:href="@{/delete/(id=${user.getUid()})}" type="button" class="btn btn-sm btn-danger">删除</a>
                    </td>
                </tr>

        </table>

</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</body>
</html>